@font-face {
    font-family: iransans-font;
    src: url('font/IRANSans.ttf');
}

:root {
    --main-color: #EE5A24;
    --second-color: #130f40;
    --third-color: #f7f7f7;
    --other-color: #211b4ed8;
}

body {
    direction: rtl;
}

* {
    font-family: 'iransans-font', 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 8.5rem;
    scroll-behavior: smooth;
}

.dark {
    background-color: var(--second-color) !important;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #fff;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
}

.heading span {
    font-size: 3rem;
    color: var(--main-color);
}

.heading h3 {
    font-size: 3rem;
    color: var(--second-color);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 1.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    border-radius: .5rem;
}

.btn:hover {
    background: var(--second-color);
}

.dark .btn:hover {
    background: var(--other-color);
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 9%;
}

.dark .header {
    background: var(--other-color);
    -webkit-box-shadow: 0 1rem 1rem rgba(5, 31, 68, 0.877);
    box-shadow: 0 1rem 1rem rgba(5, 31, 68, 0.877);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--second-color);
}

.dark .header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--third-color);
}


.header .logo i {
    padding-right: .5rem;
    color: var(--main-color);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #666;
}

.dark .header .navbar a {

    color: var(--third-color);
}

.header .navbar a:hover {
    color: var(--main-color);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    background: var(--third-color);
    color: var(--second-color);
    border-radius: .5rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    color: #fff;
    background: var(--main-color);
}

#menu-btn {
    display: none;
}

/* switch theme control */

.switch {
    /* --moon-mask: ; */
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin-top: 2px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    background: linear-gradient(40deg, #edfc1a, #ff8c00 90%);
    ;
    transition: .4s;
}

input:checked+.slider {
    background-color: #303136;
}

input:checked+.slider:before {
    transform: translateX(1.5em);
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
}


@keyframes fadeUp {
    0% {
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
        opacity: 0;
    }
}

.search-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    height: calc(100vh - 8.5rem);
    background: #fff;
    z-index: 1000;
    display: none;
}

.dark .search-form-container {

    background: var(--second-color);

}

.search-form-container.active {
    display: block;
}

.search-form-container form {
    height: 7rem;
    border-bottom: 0.2rem solid var(--second-color);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: fadeUp .4s linear;
    animation: fadeUp .4s linear;
}

.dark .search-form-container form {
    border-bottom: 0.2rem solid var(--main-color);

}

.search-form-container form input {
    height: 100%;
    width: 100%;
    font-size: 1.7rem;
    color: var(--second-color);
    text-transform: none;
    padding-right: 1rem;
}

.dark .search-form-container form input {
    background-color: var(--second-color);
    color: var(--third-color);

}

.dark .search-form-container form input::placeholder {
    color: var(--third-color);

}

.search-form-container form label {
    font-size: 3rem;
    cursor: pointer;
    color: var(--second-color);
}

.dark .search-form-container form label {
    color: var(--main-color);
}

.search-form-container form label:hover {
    color: var(--main-color);
}

/* shopping-cart section started */


.shopping-cart-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: #fff;
    overflow-y: scroll;
    padding-bottom: 8rem;
    display: none;
}

.dark .shopping-cart-container {
    background-color: var(--second-color);
}

.shopping-cart-container.active {
    display: block;
}

.shopping-cart-container::-webkit-scrollbar {
    width: 1rem;
}

.shopping-cart-container::-webkit-scrollbar-track {
    background: #fff;
}

.shopping-cart-container::-webkit-scrollbar-thumb {
    background: var(--second-color);
    border-radius: 5rem;
}

.shopping-cart-container .title {
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--second-color);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.dark .shopping-cart-container .title {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--third-color);


}

.shopping-cart-container .products-container {
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    -webkit-animation: fadeUp .4s linear;
    animation: fadeUp .4s linear;
}

.dark .shopping-cart-container .products-container {
    border: 0.1rem solid var(--third-color);
}

.shopping-cart-container .products-container .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
}

.shopping-cart-container .products-container .box-container .box {
    border-radius: .5rem;
    background: var(--third-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    position: relative;
}

.dark .shopping-cart-container .products-container .box-container .box {
    background: var(--third-color);

}

.shopping-cart-container .products-container .box-container .box .fa-times {
    position: absolute;
    top: .7rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--second-color);
}

.shopping-cart-container .products-container .box-container .box .fa-times:hover {
    color: var(--main-color);
}

.shopping-cart-container .products-container .box-container .box img {
    height: 8rem;
}

.shopping-cart-container .products-container .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--second-color);
}

.shopping-cart-container .products-container .box-container .box .content span {
    font-size: 1.5rem;
    color: #666;
}

.shopping-cart-container .products-container .box-container .box .content span.price {
    color: var(--main-color);
    font-size: 1.7rem;
}

.shopping-cart-container .products-container .box-container .box .content input {
    width: 8rem;
    padding: .5rem 1.2rem;
    font-size: 1.5rem;
    color: var(--second-color);
    margin: .7rem 0;
}

.shopping-cart-container .cart-total {
    margin-top: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    -webkit-animation: fadeUp .4s linear .4s backwards;
    animation: fadeUp .4s linear .4s backwards;
}

.dark .shopping-cart-container .cart-total {
    border: 0.1rem solid var(--third-color);
}

.shopping-cart-container .cart-total .box {
    padding: 1.5rem;
}

.shopping-cart-container .cart-total .box h3 {
    color: var(--second-color);
    font-size: 2rem;
    padding-bottom: .7rem;
}

.dark .shopping-cart-container .cart-total .box h3 {
    color: var(--third-color);
}

.shopping-cart-container .cart-total .box h3 span {
    color: var(--main-color);
}

/* shopping-cart section ended */

/* login-form section started */


.login-form-container {
    position: fixed;
    top: 8.5rem;
    left: 0;
    right: 0;
    z-index: 1000;
    height: calc(100vh - 8.5rem);
    background: #fff;
    padding: 0 2rem;
    display: none;
}

.dark .login-form-container {
    background: var(--second-color);
}

.login-form-container.active {
    display: block;
}

.login-form-container form {
    margin: 2rem auto;
    max-width: 40rem;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: .5rem;
    -webkit-animation: fadeUp .4s linear;
    animation: fadeUp .4s linear;
}

.dark .login-form-container form {
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    border: 0.1rem solid var(--third-color);

}

.login-form-container form h3 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--second-color);
}

.dark .login-form-container form h3 {
    color: var(--main-color);
}

.login-form-container form .box {
    margin: .7rem 0;
    border-radius: .5rem;
    background: var(--third-color);
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--second-color);
    text-transform: none;
    width: 100%;
}

.login-form-container form .remember {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem;
}

.login-form-container form .remember label {
    font-size: 1.5rem;
    cursor: pointer;
    color: #666;
}

.dark .login-form-container form .remember label {
    color: var(--third-color);
}

.login-form-container form .btn {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}

.login-form-container form p {
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #666;
}

.dark .login-form-container form p {
    color: var(--third-color);
}

.login-form-container form p a {
    color: var(--main-color);
}

.login-form-container form p a:hover {
    color: var(--second-color);
    text-decoration: underline;
}

/* login-form section ended */

/* home section starts */


.home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    position: relative;
    overflow: hidden;
}

.home .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 41rem;
    flex: 1 1 41rem;
}

.home .content span {
    font-size: 2rem;
    color: var(--main-color);
}

.home .content h3 {
    font-size: 4rem;
    color: var(--second-color);
    padding-top: 1rem;
}

.dark .home .content h3 {
    color: var(--third-color);
}

.home .content p {
    font-size: 1.4rem;
    color: #666;
    line-height: 2;
    padding: 1rem 0;
}

.dark .home .content p {
    color: rgb(197, 196, 196);
}

.home .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 41rem;
    flex: 1 1 41rem;
    margin: 2rem 0;
    pointer-events: none;
}

.home .image .home-img {
    width: 55rem;
    margin-top: 5rem;
}

.home .home-parallax-img {
    position: absolute;
    top: 6rem;
    right: 110rem;
    width: 23vw;
}

.home .home-parallax-img2 {
    position: absolute;
    top: -10rem;
    right: 52rem;
    width: 25vw;
    z-index: -1;
}

/* home section ended */

/* category section started  */

.category {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    padding-bottom: 5rem;
}

.category .box {
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    background: var(--third-color);
}

.category .box:hover {
    background: var(--main-color);
}

.category .box:hover h3 {
    color: #fff;
}

.category .box img {
    height: 7rem;
}

.category .box h3 {
    font-size: 1.8rem;
    color: var(--second-color);
}

/* category section ended  */


/* about section started  */

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    background: var(--third-color);
}

.dark .about {
    background: var(--other-color);
}

.about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.about .content span {
    font-size: 3rem;
    color: var(--main-color);
}

.about .content .title {
    font-size: 3rem;
    padding-top: .5rem;
    color: var(--second-color);
}

.dark .about .content .title {
    color: var(--third-color);
}

.about .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.4rem;
    color: #666;
}

.dark .about .content p {
    color: var(--third-color);

}

.about .content .icons-container {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .content .icons-container .icons {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    border-radius: .5rem;
    background: #fff;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.about .content .icons-container .icons h3 {
    font-size: 1.7rem;
    color: var(--second-color);
}

/* about section ended  */

/* popular section started  */

.popular .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.popular .box-container .box {
    border-radius: .5rem;
    position: relative;
    background: var(--third-color);
    padding: 2rem;
    text-align: center;
}

.popular .box-container .box .fa-heart {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2.5rem;
    color: #666;
    cursor: pointer;
}

.popular .box-container .box .fa-heart:hover {
    color: var(--main-color);
}

.popular .box-container .box .image {
    margin: 1rem 0;
}

.popular .box-container .box .image img {
    height: 15rem;
}

.popular .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--second-color);
}

.dark .popular .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--third-color);
}

.popular .box-container .box .content .stars {
    padding: 1rem 0;
    font-size: 1.7rem;
}

.popular .box-container .box .content .stars i {
    color: gold;
}

.popular .box-container .box .content .stars span {
    color: #666;
}

.popular .box-container .box .content .price {
    font-size: 2rem;
    color: var(--second-color);
}

.popular .box-container .box .content .price span {
    font-size: 1.5rem;
    color: #666;
    text-decoration: line-through;
}

/* popular section ended  */


/* banner section started  */


.banner .row-banner {
    background: url(../img/row-banner.png) no-repeat;
    height: 45rem;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner .row-banner .content {
    position: absolute;
    top: 50%;
    left: 7%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner .row-banner .content span {
    font-size: 4rem;
    color: var(--main-color);
    color: var(--second-color);
}

.banner .row-banner .content h3 {
    font-size: 6rem;
    color: red;
    text-transform: uppercase;
}

.banner .row-banner .content p {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.banner .grid-banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.banner .grid-banner .grid {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 45rem;
}

.banner .grid-banner .grid:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.banner .grid-banner .grid img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.banner .grid-banner .grid .content {
    position: absolute;
    top: 2rem;
    padding: 0 2rem;
}

.banner .grid-banner .grid .content.center {
    text-align: center;
    width: 100%;
}

.banner .grid-banner .grid .content.center span {
    color: #666;
}

.banner .grid-banner .grid .content.center h3 {
    color: var(--second-color);
}

.banner .grid-banner .grid .content span {
    font-size: 2.5rem;
    color: #fff;
}

.banner .grid-banner .grid .content h3 {
    font-size: 3rem;
    color: #fff;
    padding-top: .5rem;
}

/* banner section ended  */


/* menu section started  */

.menu .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    border-radius: .5rem;
    background: var(--third-color);
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
}

.menu .box-container .box:hover {
    background: var(--second-color);
}
.dark .menu .box-container .box:hover {
    background: var(--other-color);
}

.menu .box-container .box:hover .content h3 {
    color: #fff;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box .content h3 {
    font-size: 2rem;
    color: #130f40;
    padding-bottom: .5rem;
}

.menu .box-container .box .content .price {
    font-size: 1.8rem;
    color: #27ae60;
}

/* menu section ended  */